body{
    background-color: black;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-area: header;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 70px;
    background-color:lightseagreen;
}

.header-body .logo{
    display: flex;
    align-items: center;
    justify-content: start;
    /* background-color: linen; */
}

.header-body .input{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.header-body .input input{
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 25px;
    background-color: lightpink;
}

.header-body .bambi{
    display: flex;
    align-items: center;
    justify-content: center;
}


main .container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 80px 1fr;
}

main .container .lateral-icons img{
    width: 40px;
    display: flex;
    /* display: flex;
    justify-content: center; */
}

main .container .img1,
main .container .img2,
main .container .img3 p{
    color: white;
}

main .container .img1,
main .container .img2,
main .container .img3{
    margin: 10px;
}
